NEXT_PUBLIC_ADMIN_EMAIL=admin@smphotography.com
NEXT_PUBLIC_ADMIN_PASSWORD=change-this-password
ADMIN_EMAIL=admin@smphotography.com
ADMIN_PASSWORD=change-this-password
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STORAGE_BUCKET=
